[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cfdecomp"]
	path = cfdecomp
	url = https://github.com/maartenbijlsma/cfdecomp
